.peach {
    background-color: peachpuff;} .md-blue {background-color: cornflowerblue;} .dk-brown  {background-color: saddlebrown;} .orange {background-color: peru;}

.lt-blue {
    background-color: lightskyblue;
}

.sage {
    background-color: seagreen;
}

.lt-sage {
    background-color: slategray;
}

.yellow {
    background-color: yellow;
}

.magenta {
    background-color: magenta;
}

/* grid block sizing */

.faq-h2 {
    position: absolute;
    left: 10%;
    top: 5%;
}

.flex {
    display: flex;
}

.grid-block {
    width: 25%;
    height: 20rem;
}

.half-block {
    width: 12.5%;
    height: 20rem;
}

.block-grid .peach {
    margin-left: 10rem;
}

.b-1,
.b-2,
.b-3,
.b-4 {
    display: none;
}

.width-100 {
    width: 100%;
}

.directions .lt-sage,
.directions .peach,
.directions .lt-blue {
    position: absolute;
    right: 0;
    height: 10rem;
    z-index: -1;
}

.directions .lt-sage {
    width: 10rem;
}

.directions .peach {
    margin-right: 10rem;
    top: 10rem;
    width: 15rem;
}

.directions .lt-blue {
    margin-top: 20rem;
    width: 10rem;
}

.directions h4 {
    padding-top: 10rem;
}

.policies .grid-block {
    display: none;
}


@media screen and (min-width: 1000px) {
    .block-grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .seating {
        position: absolute;
        top: 18rem;
        right: 5rem;
    }

    .b-1 {
        display: flex;
        flex-wrap: wrap;
        /* width: 50%; */
        height: 60rem;
    }
    
    .b-2 {
        display: flex;
        flex-wrap: wrap;
        /* width: 40rem; */
        height: 40rem;
        margin-top: 20rem;
    }
    
    .b-3 {
        display: flex;
        margin-left: 40rem;
    }

    .policies .grid-block {
        display: block;
        position: absolute;
    }

    .alcohol,
    .music {
        margin-top: 5rem;
        padding-left: 40%;
    }

    .candles {
        text-align: right;
        padding-right: 10%;
    }

    .vendors {
        padding-right: 65%;
    }
}